body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "Circular-Bold";
  src: local("Circular-Bold"), url(./fonts/Circular-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Circular-Book";
  src: local("Circular-Book"), url(./fonts/Circular-Book.ttf) format("truetype");
}

@font-face {
  font-family: "Circular-Medium";
  src: local("Circular-Medium"),
    url(./fonts/Circular-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "Recoleta-Black";
  src: local("Recoleta-Black"),
    url(./fonts/Recoleta-Black.ttf) format("truetype");
}
