.work-header-wrapper {
  padding: 50px 15% 0 15%;
  /* width: 100%; */
}

.work-header {
  font-family: "Recoleta-Black", sans-serif;
  font-size: 40px;
  width: 300px;
}

.work-card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 70px 3% 0 3%;
}
